<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gcc Slip</title>
</head>
<body>
    <h1>Please generate your Slip List</h1>
    <form action="/generateSlip" method="POST">
        <label for="">Enter Current Slip Id</label>
        <input name="currentSlip" type="text">
        <label for="">Select order</label>
        <input name="order" type="radio" Value="ASC"> ASC
        <input name="order" type="radio" Value="DSC"> DSC
        <label for="">Num of Slip</label>
      <input name="num" type="number">
      <input name="Submit" type="submit" value="Submit">
    </form>
</body>
</html>